<%- include("header") -%>
<div class="box" id="heading">
    <h1>About</h1>
</div>

    <div class="box">
        <div class="item">
            <p>Welcome To My Websit</p>
        </div>
    </div>
    <%- include("footer") -%>